extends layout

block content
  h1= title
  p Welcome to #{country}
  doctype html
  head
    meta(charset='UTF-8')
    title Title
  form(action='http://localhost:3000/capital' method='post')
    | Enter Country to get Capital:
    input#country(type='text' name="country")
    button(type='button')  Submit 
  h3 #{capital}

  form(action='http://localhost:3000/population' method='post')
    | Enter Country to get Population:
    input#country(type='text' name="country")
    button(type='button')  Submit 
  h3 #{population}

  form(action='http://localhost:3000/flag' method='post')
    | Enter Country to get Flag:
    input#country(type='text' name="country")
    button(type='button')  Submit 
  h3 #{flag}
